* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header { 
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 110px;
    background-color: pink;
}
body {
    background-color: peachpuff;
}

h1 {
    text-align: center;
}


ul {
    list-style-type: none;
    margin: 25px;
    padding: 8pxpx;
}

li {
    display: inline;
    float: right;
    padding: 8px;
}


#img {
    width: 300px;
    height: 300px;
    border: 10px solid plum ;
}

figure {
    position: relative;
    margin: 300px 400px

}

figure caption {
  text-align: center;
}

.form {
    display: block;
    margin: 0px 300px 0px 300px;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

footer {
    text-align: center;
}